config FB_VDC5
	tristate "RZ/A1 frame-buffer driver for VDC5"
	depends on FB
	depends on ARCH_R7S72100
	select FB_SYS_FILLRECT
	select FB_SYS_COPYAREA
	select FB_SYS_IMAGEBLIT
	select FB_SYS_FOPS
	select VIDEOMODE_HELPERS
	help
	  Frame-buffer device for the Renesas RZ/A1 based boards.
